#contact {
  background-image: url("../img/fullpatternsLowres.png");
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.square {
  background: linear-gradient(150deg, #501F77, #191452);
  width: 500px;
  height: 450px;
  padding: auto 30px;
  display: grid;
  grid-template-rows: 20% 30% 30% 20%;
  grid-template-columns: 50% 50%;
  margin-bottom: 25px;
}
.contact-box {
  grid-column: 1 / 3;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2vh;
}
.contact-box-two {
  grid-row: 3;
}
.contact-title {
  grid-row: 1;
  grid-column: 1 / 3;
  margin-bottom: 0;
}

#contact p {
  padding: 10px 20px 0;
  text-align: left;
  grid-row: 2;
  grid-column: 1 / 3;
  align-self: center;
}
.email-box {
  align-self: center;
  display: grid;
  grid-template-columns: 220px 70px 60px 60px;
  grid-template-rows: 48px;
  width: 410px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  margin: 0;
  height: 48px;
}
.textBox {
  border: 0;
  padding: 0.5rem;
  grid-column:1;
  grid-row: 1;
  outline:none;
}
footer img {
  height: 2em;
}
.copyIcon {
  padding: 0.5rem;
  grid-row: 1;
  grid-column: 2;
  cursor: pointer;
}
.emailButton {
  background: #191452;
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0.5rem;
  border-radius: 0;
  grid-row: 1;
}
.social-link {
  grid-row: 4;
  align-self: center;
  color: #fff;
  opacity: 0.7;
}
.social-link:hover {
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .square {
    background: linear-gradient(150deg, #501F77, #191452);
    width: 90vw;
    height: 75%;
    padding: 0px 5vw;
    margin-bottom: 0px;
  }
  .email-box {
    width: 72vw;
    grid-template-columns: 18vw 18vw 18vw 18vw;
    grid-template-rows: 42px 42px;
    height: auto;
  }
  input {
      font-size: 2vh;
  }
  .emailButton {
    grid-row: 2;
    grid-column: span 2;
  }
  .copyIcon {
    grid-row: 1;
    grid-column: 4;
  }
  .textBox {
    grid-column:1 / 5;
    grid-row: 1;
  }
  footer img {
      height: 1.5em;
  }
}
