footer img {
  height: 2em;
}
#contact {
  background-image: url("../img/fullpatterns.png");
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contact p {
  padding: 10px 20px 0;
  text-align: left;
}
.social-break {
    margin: 40px auto 20px;
}
.email-box {
  display: grid;
  grid-template-columns: 260px 70px 60px 60px;
  grid-template-rows: 48px;
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  margin: 0;
  height: 48px;
}
.copyIcon {
  padding: 0.5rem;
  grid-row: 1;
  grid-column: 2;
  cursor: pointer;
}
.textBox {
  border: 0;
  padding: 0.5rem;
  grid-column:1;
  grid-row: 1;
  outline:none;
}
.emailButton {
  background: #191452;
  border: 0;
  border-left: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0;
  grid-row: 1;
}
.square {
  background: linear-gradient(150deg, #501F77, #191452);
  width: 500px;
  height: 450px;
  padding: 50px 30px;
  margin-bottom: 20px;
}
.social-link {
  padding: 0 25px;
  color: #fff;
  opacity: 0.7;
}
.social-link:hover {
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .square {
    background: linear-gradient(150deg, #501F77, #191452);
    width: 90vw;
    height: 90vh;
    padding: 50px 30px;
  }
  .email-box {
    width: 72vw;
    grid-template-columns: 18vw 18vw 18vw 18vw;
    grid-template-rows: 42px 42px;
    height: auto;
  }
  input {
      font-size: 2vh;
  }
  .emailButton {
    grid-row: 2;
    grid-column: span 2;
  }
  .copyIcon {
    grid-row: 1;
    grid-column: 4;
  }
  .textBox {
    grid-column:1 / 4;
    grid-row: 1;
  }
  footer img {
      height: 1.5em;
  }
}
