footer {
  height: 2.5em;
  text-align: center;
  padding: 0;
  transition: bottom 0.25s;
  font-size: 3vh;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  backdrop-filter: blur(6px);
}
footer button {
  border: none;
  padding: 0 1em;
  display: inline-block;
  text-decoration: none;
  background: transparent;
  color: #fff;
  opacity: 0.6;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;

}
footer button:hover {
    text-decoration: none;
    opacity: 1;
}
.pwa-icon {
  height: 1.5em;
  margin: .5em;
  width: auto;
}
.close-generic {
  top: .8em;
  height: .9em;
  width: auto;
  position: absolute;
  right: .8em;
  opacity: 0.6;
}
@media screen and (max-width: 768px) {
  footer {
    font-size: 2.5vh;
  }
