.ios-popup {
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-content: center;
  height: 40vh;
  width: 100%;
  border-radius: 3vh 3vh 0 0;
  background-color: rgba(17, 15, 61, 0.7);
  backdrop-filter: blur(6px);
}
.add-message {
  color: #fff;
  opacity: 0.6;
  font-size: 3vh;
  padding: 1em 1em 3em;
  align-self: auto;
}
.add-bold {
    font-weight: bold;
}
.close-ios {
  position: absolute;
  right: 1vh;
  top: 3vh;
  height: 4vh;
  width: auto;
  opacity: 0.6;
}
.ios-icon {
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 8vh;
  width: auto;
}
.add-message img {
  height: 1em;
  width: auto;
  display: inline-block;
  padding: 0 .5em;
}
