nav {
  padding: 1% 0;
  align-items: center;
  transition: top 0.3s;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(6px)
}
.navbar-nav {
    margin:0 auto;
    align-items: center;
}
.navbar-dark .navbar-nav .nav-link {
  color: #d5d5d5;
  opacity: 0.7;
  padding: 0 30px;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFF;
    opacity: 1;
}
.wk {
  max-height: 2em;
  min-height: 1em;
  padding: 0 15px 5px;
}
.wk img {
  height: 2em;
}
