#projects {
  background: linear-gradient(135deg, #DC9B3B, #CA4840);
  color: #fff;
}
#odomoBreak {
  margin: 1em auto;
}
.project-textbox {
  padding: 1em;
}
.project-textbox p {
  padding: 0 1em;
}
.project-heading {
  padding-bottom: 10vh;
}
@media screen and (max-width: 768px) {
  .project-heading {
    padding-bottom: 0;
  }
}
